body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
.header-top{
    width: 100%;
    height: 40px;
    background-color: black;
    text-align: center;
    font-size: 11px;
}
.header-span{
    color: #fff;
    position: relative;
    top: 10px;
}
.main-nav{
    background-color:#fff;
    width: 100%;
    height: 40px;
}
#logo{
    width: 10%;
height: 70px;
top: 47px;
margin-top: 17px;
margin-left: 12px;
float: left;
}
.main-nav-items{
    font-family: 'Roboto', sans-serif;
font-family: 'Schibsted Grotesk', sans-serif;
position: relative;
margin-right: 3px;
margin-left: 11px;
font-size: 12px;
float: right;
margin-top: 15px;
}
.main-nav2{
    font-family: 'Roboto', sans-serif;
    font-family: 'Schibsted Grotesk', sans-serif;
    margin-top: 23px;
    margin-left: 15px;
    float: left;
    font-size: 15px;
}
.search_box{
   padding-top: 13px;
padding-bottom: 10px;
margin-left: 265px;
border-radius: 19px;
}
#searchQueryInput{
    padding-top: 9px;
padding-bottom: 10px;
margin-left: 305px;
border-radius: 19px;
width: 165px;
}
#searchQuerySubmit{
    display:none;
}
.container{
    margin-left: 10px;
    margin-right: 10px;
    color: black;
}
.header-img{
    height: auto;
    max-width: 100%;
    object-fit: cover;
  }
.banner-img{
    max-width: 100%;
    margin-top: 20px;
}
.headding{
font-family: 'Libre Franklin', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Schibsted Grotesk', sans-serif;
text-align: center;
}
.items{
   width: 300px;
   height: 300px;
}
.item{
   margin-left: 15px;
}
.Show{
    margin-top: 100px;
    width: 600px;
    margin-left: 10px;
}
.text1{
    float: left;
    text-align: center;
    width: 50%;
    font-size: 1.5rem;
}
.text2{
    float: right;
    width:50%;
    font-size: 1.5rem;
    text-align: center;
}
.button{
    vertical-align: middle;
    color: solid black;
    display: inline-block;
    height: 60px;
    line-height: 1px;
    text-align: center;
    transition: 0.5s;
    padding: 1px 20px;
    cursor: pointer;
    border: 1px solid black;
    -webkit-transition: 0.5s;
}
#label1{
    background-color: #fff;
    border: 1px solid black;
    color: black;
    padding: 13px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 110px 2px;
    cursor: pointer;
    border-radius: 50%;
}
#icon{
    margin-left: 30px;
}
#label2{
    margin-left: 30px;
}
#hr{
    width: 64%;
    margin-top: -134px;
    margin-right: 10px;
}
.image{
    width: 345px;
    margin-top: 40px;
}
.images{
    margin-left: 15px;
}

#img1{
    margin-left: 1090px;
    width: 345px;
    position: relative;
    margin-top: -395px;
    top: -18px;
}
.section2{
    width:100%;
}
.price1{
    margin-left: 4px;
}
.price2{
    margin-left: 363px;
    margin-top: -69px; 
}
.price3{
    margin-left: 735px;
    margin-top: -65px;
}
.price4{
    margin-left: 1094px;
    margin-top: -65px;
}
.scroll{
    width: 100%;
    margin-top: 50px;
    height: 100px;
    background-color:#fff;
}
.footer{
    background-color: black;
    height: 535px;
    width: 100%;
    color: #fff;
    display: flex;
}
.footer-text1{
    margin-left: 155px;
    padding-top: 45px;
}
.footer-text2{
    margin-left: 155px;
    padding-top: 45px;
}
.footer-text3{
    margin-left: 100px;
    padding-top: 45px;
}
.footer-text4{
    margin-left: 37px;
    padding-top: 45px;
}
.footer-text5{
    margin-left: 46px;
    padding-top: 45px;
    display: block;
}
.footer-2{
    background-color: black;
    width: 50%;
    height: 550px;
    margin-top: -20px;
    color: #fff;
    float: left;

}
.footer2-text{
    margin-left: 155px;
}
.para{
    margin-left: 155px;
}
#footer3-text{
    margin-left: 200px;
}
.footer-3{
    background-color: black;
    width: 50%;
    height: 550px;
    margin-top: -20px;
    color: #fff;
    float: right;
}
#button{
    width: 230px;
    background-color: #b30808;
    color: #fff;
}
#email{
    width: 310px;
    height: 35px;
}
.para2{
    margin-left: 170px;
    margin-top: 55px;
}
.icones{
    width: 35px;
    height: 35px;
    background-color: #fff;
    margin-left: 15px;
    display: flex;
    float: left;
}
.fa-brands{
    color: black;
    font-weight: 400;
    margin-left: -225px;
    margin-top: 7px;
    float: left;
}
.icon{
    margin-left: 155px;
    margin-top: 40px;
}
.fa-facebook-f{
    margin-left: -172px;
    color: black;
}
.fa-pinterest{
    color: black;
    margin-left: -125px;
}
.fa-youtube{
    color: black;
    margin-left: -76px;
}
.fa-instagram{
    color: black;
    margin-left:-25px;
}
.footer-img{
    width: 106%;
    height: 122px;
    margin-top: 68px;
    margin-left: -327px;
    float: left;
}
.footer-4{
    display: flex;
}
.copy-right{
    margin-top: 124px;
}
.contries{
        margin-top: 282px;
        margin-left: 241px;
}
.ctry{
    width: 50%;
    height: 41px;
}
.fa-solid{
    margin-left: -163px;
}
#sale{
color: red;
}
span:hover{
 
    color: #b30808;
}
i:hover{
    color: #b30808;
}